.ql-container {
    height: auto !important;
}

.ql-editor {
    min-height: 100vh !important;
    width: 100% !important;
    height: auto !important;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 1.7 !important;
    padding: 1rem 0 !important;
    border: none !important;
}

.ql-container.ql-snow {
    border: none !important;
}

.ql-toolbar.ql-snow {
    border: none !important;
    padding: 2rem 2rem !important;
    background-color: white;
    height: 5rem !important;
    position: fixed !important;
    top: 0 !important;
    left: auto !important;
    display: flex;
    align-items: center;
    z-index: 20 !important;
}

.write-box {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.cat-box {
    box-shadow: inset 0px -67px 70px -25px rgba(116,105,182,1);
}